.carousel-indicators>li{
    width:0.8rem;
    height:0.8rem;
    background-color: #0d96cd !important;
}
.carousel-indicators .active{

    background-color: #fff !important;
}
.desktop>p>a{

}
.my_footer{ height:35rem;  }
.python::before{
    content: "";
    display: table;
}
.btn{
    width:200px;
    height:50px;
}
.btn:hover a{
   
    text-decoration: none;
}
.btn:hover{
    background-color: #0d96cd;
}
